#accordian {
  margin:0 auto;
  width:400px;
  border-bottom:1px solid #3c8280;
}

#accordian h4 {

  background-color: #a1ebde;
  border:1px solid #3c8280;
  border-bottom: none;
  margin:0;
  cursor:pointer;
  padding:5px;
}

#accordian h4:hover {

  background-color:#20B1AA;
}

#accordian p {

  background-color: #d3d3d3;
  border:1px solid #3c8280;
  border-top:none;
  border-bottom:none;
  margin:0;
  padding: 15px;
}